                        /*GENERALE*/
body{
    width: auto;
    margin: auto;
    background-color: whitesmoke;
    font-family: serif;
}

hr{
    height: 2px;
    background-color: black;
}

input{
    width: 150px;
}

select{
    width: 150px;
}

.button{
    color: black;
    font-family: cursive;
    font-weight: bold;
    font-size: 1.3em;
    border-radius: 6px;
}

                        /*HEADER*/
#header_page_login{
    text-align: center;
}

                        /*CORP DE PAGE : FORMULAIRES*/
#connexion,
#inscription{
    margin: 20px;
}

fieldset{
    border: 2px solid black;
}

                        /*FOOTER*/
footer{
    display: flex;
    justify-content: center;
}

                        /*MEDIA QUERRY : 600PX*/
@media screen and (max-width: 600px) {

form p{

    text-align: center;
}
    
}


