/* Centrage de la page */
body {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

#information_contact {
    border: 2px solid black;
    border-radius: 5px;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
}

h1,
h2 {
    text-decoration: underline;
    font-size: 2em;
}

#contact_message {
    border: 2px solid black;
    border-radius: 5px;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}

#contact_message p {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}

/* MEDIA : 800px */
@media screen and (max-width: 800px) {
    form p {
        border: 1px solid black;
        width: 80%;
        margin-left: auto;
        margin-right: auto;
    }

    input {

        width: 80%;
        margin-left: auto;
        margin-right: auto;
    }


}