                        /*GENERALE*/

body {
    width: auto;
    margin: auto;
    background-color: whitesmoke;
    font-family: serif;
}

/*Trait de separation des parties*/
hr{
    height: 2px;
    background-color: black;
}

                        /*HEADER*/

/*Mise en forme du HEADER*/
header {
    display: flex;
    justify-content: space-between;
}

.logo_nom_prenom{
    display: flex;
    margin-right: 5%;
    margin-top: 3%;
}

.nom_prenom{
    display: flex;
    margin-left: 2px;
    padding-top: 10px;
}

.nom_prenom p{
    display: flex;
    margin-left: 5px;
}


                        /*SECTION 1 : GBAF*/

/*Centrage de l'image*/
.illustration_banquier{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#presentation p{
    margin-left: 10px;
    margin-right: 10px;
    text-align: justify;
}

/*Centrage du titre principale*/
#presentation h1{
    text-align: center;
    text-decoration: underline;
}

                        /*FOOTER*/

footer{
    display: flex;
    justify-content: center;
}

                        /*MEDIA QUERRY : 600PX*/
@media screen and (max-width: 600px) {
    
    /*Mise en forme du HEADER pour les smartphones*/
header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/*Redimenssionement de l'image SECTION 1*/
.illustration_banquier{
    display: block;
    width: 350px;
    height: 350px;
    margin-left: auto;
    margin-right: auto;
}
   
}