body {
    width                : auto;
    margin               : auto;
    background-color     : whitesmoke;
    font-family          : serif;
}

/*HEADER*/

/*Mise en forme du HEADER*/
header {
    display              : -webkit-box;
    display              : -ms-flexbox;
    display              : flex;
    -webkit-box-pack     : justify;
    -ms-flex-pack        : justify;
    justify-content      : space-between;
}

.logo_nom_prenom {
    display              : -webkit-box;
    display              : -ms-flexbox;
    display              : flex;
    margin-right         : 5%;
    margin-top           : 3%;
}

.nom_prenom {
    display              : -webkit-box;
    display              : -ms-flexbox;
    display              : flex;
    margin-left          : 2px;
    margin-right         : 5px;
    padding-top          : 10px;
}

.npdu {
    display              : -webkit-box;
    display              : -ms-flexbox;
    display              : flex;
    -webkit-box-orient   : vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction   : column;
    flex-direction       : column;
}

.nom_prenom p {
    display              : -webkit-box;
    display              : -ms-flexbox;
    display              : flex;
    margin-left          : 5px;
    margin-right         : 5px;
}

.deco_update {
    margin-right         : 5%;
}

.deco_update,
.update,
.home {
    font-size            : 0.8em;
    padding-left         : 3px;
}

table {
    display              : block;
    margin-left          : auto;
    margin-left          : 10px;
    border-collapse      : collapse;
    /* Les bordures du tableau seront collées (plus joli) */
    margin-top           : 30px;
}

caption {
    font-size            : large;
    font-weight          : bold;
    text-decoration      : underline;
    margin-bottom        : 10px;
    margin-left          : 10px;
}

td,
th

/* Toutes les cellules des tableaux... */
    {
    border               : 1px solid black;
    /* auront une bordure de 1px */
    width                : 100px;
    height               : 80px;
    max-width            : 100px;
    text-align           : center;
    word-wrap            : break-word;

}

form {
    margin-left          : 10px;
}

a {
    margin-left          : 5px;
}

hr {
    height               : 2px;
    background-color     : black;
}

.consigne {
    font-weight          : bold;
    text-decoration      : underline;
    width                : 100%;
    margin-left          : 10px;
}

@media screen and (max-width: 600px) {

    table {
        display: none;
    }
}